<template>
    <header class="header">
        <h1>To Do List App</h1>
        <div id="nav">
            <router-link to="/">Home</router-link> |
            <router-link to="/about">About</router-link>
        </div>
    </header>
</template>

<script>
export default {
    name: "Header"
}
</script>

<style scoped>
    .header {
        background: #333;
        color: white;
        text-align: center;
        padding: 10px;
    }

    #nav a {
        color: #999;
        text-decoration: none;
    }

    #nav a.router-link-exact-active {
        color: white;
        text-decoration: underline;
    }
</style>