<template>
  <div class="about">
    <h1>About This App</h1>
    <h3>This is my very first Vue app</h3>
    <p>Following a few tutorials, I created this application with very basic vue patterns and then implemented a router as well as a veux store.</p>
  </div>
</template>
