<template>
  <div id="app" class="show-me">
    <AddTodo />
    <Todos />
  </div>
</template>

<script>

import Todos from '../components/Todos.vue';
import AddTodo from '../components/AddTodo.vue';

export default {
  name: 'Home',
  components: {
    Todos,
    AddTodo,
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
}

.show-me {
  border: 0px lightskyblue double;
}
</style>
