<template>
    <form @submit.prevent="onSubmit">
        <input type="text" v-model="title" name="title" placeholder="Add Todo...">
        <input type="submit" class="btn" value="Submit">
    </form>
</template>

<script>
import { mapActions } from 'vuex';
export default {
    name: "AddTodo",
    data() {
        return {
            title: ''
        }
    },
    methods: {
        ...mapActions(['addTodo']),
        onSubmit() {
            this.addTodo(this.title);
            this.title = '';
        }
    },
}
</script>

<style scoped>
    form {
        display: flex;
        margin: 7px 0px;
    }

    input {
        margin-right: 10px;
    }

    input[type="text"] {
        flex: 10;
        padding: 5px;
        padding-left: 0px;
    }

    input[type="submit"] {
        flex: 2;
    }
</style>