<template>
    <div class="show-me">
        <div class="todo-div" v-for="(todo, index) in allTodos" :key="todo.id">
            <TodoItem :todo="todo" :index="index" />
        </div>
    </div>    
</template>

<script>
import TodoItem from "./TodoItem.vue"
import { mapGetters, mapActions } from 'vuex'

export default {
    name: "Todos",
    methods: {
        ...mapActions(['fetchTodos'])
    },
    components: {
        TodoItem,
    },
    computed: mapGetters(['allTodos']),
    created() {
        this.fetchTodos();
    },
}
</script>

<style scoped>
    .todo-div {
        margin-left: 12%;
        margin-right: 12%;
    }
</style>