<template>
    <div class="show-me" v-bind:class="{'is-complete':todo.completed}">
        <p class="todo-item">
            <input type="checkbox" v-on:change="markComplete" v-model="todo.completed">
            {{ index }}: {{ todo.title }}
            <button @click="deleteTodo" class="del">X</button>
        </p>
    </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    name: "TodoItem",
    props: ["todo", "index"],
    methods: {
        ...mapActions(['delTodo', 'toggleComplete']),
        deleteTodo() {
            this.delTodo(this.todo.id)
        },
        markComplete() {
            this.toggleComplete(this.todo)
        }
    },
}
</script>

<style scoped>
    .todo-item {
        background: lightgray;
        padding: 10px;
        margin: 3px;
        border-bottom: 1px lightgreen dotted;
        border-radius: 7pt
    }

    .is-complete {
        text-decoration: line-through;
        color: red;
        font-weight: bold;
    }

    .del {
        background: red;
        color: white;
        border: none;
        padding: 5px 9px;
        margin-right: 20px;
        border-radius: 50%;
        cursor: pointer;
        float: right;
        font-weight: bold;
    }
</style>